@model BoardgameStore.Models.Boardgame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boardgame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.boardgame_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardgame_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.min_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.min_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.min_players)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.min_players)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_players)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_players)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cover_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cover_path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.years)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.years)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boardgame_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardgame_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boardgame_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardgame_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.independence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.independence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.images_paths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.images_paths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preview_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preview_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.full_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boardgame_equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardgame_equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author.author_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.author_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complexity.complexity_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complexity.complexity_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher.publisher_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.publisher_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.boardgame_id }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
